<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9005_appear_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-55}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1159,1},{108,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9005_appear_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-23}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1263,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-1}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1263,105},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,8}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1263,201},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,36}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{565,419},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,63}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{665,419},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9005_appear_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,85}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1197,297},{90,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9005_appear_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,96}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1173,211},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,98}</string>
                <key>spriteSize</key>
                <string>{82,76}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1283,297},{82,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,78}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1283,375},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,60}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1227,447},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,42}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1011,453},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,15}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1077,453},{56,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9005_appear_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-37}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1139,435},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-90}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{757,419},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-94}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1111,337},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-75}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{1173,111},{98,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9005_appear_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-58}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{809,277},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-57}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{1024,336}</string>
                <key>textureRect</key>
                <string>{{981,117},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_appear_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{215,491},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-55}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1083,227},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-72}</string>
                <key>spriteSize</key>
                <string>{212,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,327},{212,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{258,282}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{291,1},{258,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_down_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-6}</string>
                <key>spriteSize</key>
                <string>{288,324}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_down_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,20}</string>
                <key>spriteSize</key>
                <string>{274,258}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{551,1},{274,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9005_down_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,66}</string>
                <key>spriteSize</key>
                <string>{244,202}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{319,285},{244,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_down_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,97}</string>
                <key>spriteSize</key>
                <string>{242,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{565,277},{242,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_down_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,108}</string>
                <key>spriteSize</key>
                <string>{162,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{215,327},{162,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9005_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-54}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{983,1},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-57}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{907,233},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_hurt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-57}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1067,115},{104,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_hurt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-54}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1011,345},{98,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_hurt_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-53}</string>
                <key>spriteSize</key>
                <string>{88,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1069,1},{88,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-54}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{983,1},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-55}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{925,347},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-58}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{839,395},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-60}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{897,117},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-60}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{811,1},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-58}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{811,117},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-57}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{897,1},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9005_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-55}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{999,231},{82,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>9003.png</string>
            <key>size</key>
            <string>{1366,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac1c0b9b6d43da2a3d71aa03d99546ae:de8ef74c2c61081e15446d44ba718158:ac6eb3586e0b082d304aad054e7a643a$</string>
            <key>textureFileName</key>
            <string>9003.png</string>
        </dict>
    </dict>
</plist>
