<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>900501_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-54}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{293,1225},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-56}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{379,1201},{82,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-50}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{379,1115},{84,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-37}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{259,1115},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-40}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{175,1227},{120,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-53}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{117,1105},{120,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-60}</string>
                <key>spriteSize</key>
                <string>{120,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{353,1},{120,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-64}</string>
                <key>spriteSize</key>
                <string>{114,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,1115},{114,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-100}</string>
                <key>spriteSize</key>
                <string>{296,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,399},{296,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-103}</string>
                <key>spriteSize</key>
                <string>{308,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,193},{308,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-86}</string>
                <key>spriteSize</key>
                <string>{306,110}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,287},{306,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-65}</string>
                <key>spriteSize</key>
                <string>{308,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,89},{308,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-54}</string>
                <key>spriteSize</key>
                <string>{82,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{379,1285},{82,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_impact_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,-34}</string>
                <key>spriteSize</key>
                <string>{172,60}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,1295},{172,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_impact_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-32}</string>
                <key>spriteSize</key>
                <string>{350,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_impact_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{282,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,753},{282,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_impact_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-31}</string>
                <key>spriteSize</key>
                <string>{284,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{311,123},{284,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_impact_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-31}</string>
                <key>spriteSize</key>
                <string>{288,214}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,537},{288,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_impact_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-33}</string>
                <key>spriteSize</key>
                <string>{244,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{299,409},{244,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_impact_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-29}</string>
                <key>spriteSize</key>
                <string>{242,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{291,655},{242,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900501_pjt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-35}</string>
                <key>spriteSize</key>
                <string>{244,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{263,899},{244,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_pjt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-41}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,1001},{258,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_pjt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-35}</string>
                <key>spriteSize</key>
                <string>{240,106}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{261,1007},{240,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900501_pjt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-41}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,897},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>900501.png</string>
            <key>size</key>
            <string>{512,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e1f3df8838cf8175e1ccf2677638a9:b846f50780bda0e0a311c639293f3003:8016c9c80e53bf4ecdc14a45f1f2c03f$</string>
            <key>textureFileName</key>
            <string>900501.png</string>
        </dict>
    </dict>
</plist>
