<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>900601_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-70}</string>
                <key>spriteSize</key>
                <string>{154,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1863,209},{154,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-68}</string>
                <key>spriteSize</key>
                <string>{158,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1191,853},{158,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900601_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-49}</string>
                <key>spriteSize</key>
                <string>{168,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{911,641},{168,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-45}</string>
                <key>spriteSize</key>
                <string>{164,204}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1081,637},{164,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-57}</string>
                <key>spriteSize</key>
                <string>{270,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1325,225},{270,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-86}</string>
                <key>spriteSize</key>
                <string>{244,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1257,409},{244,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900601_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-86}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1605,555},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-75}</string>
                <key>spriteSize</key>
                <string>{142,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1485,829},{142,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-71}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1747,531},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-70}</string>
                <key>spriteSize</key>
                <string>{154,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1863,209},{154,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_impact_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-19}</string>
                <key>spriteSize</key>
                <string>{84,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{475,549},{84,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_impact_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-70}</string>
                <key>spriteSize</key>
                <string>{270,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,965},{270,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_impact_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-33}</string>
                <key>spriteSize</key>
                <string>{318,268}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,645},{318,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>900601_impact_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-28}</string>
                <key>spriteSize</key>
                <string>{348,280}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{367,1},{348,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_impact_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-20}</string>
                <key>spriteSize</key>
                <string>{364,274}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{364,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900601_impact_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-12}</string>
                <key>spriteSize</key>
                <string>{366,268}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1,277},{366,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_appear_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,64}</string>
                <key>spriteSize</key>
                <string>{294,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{719,461},{294,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,60}</string>
                <key>spriteSize</key>
                <string>{292,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1031,221},{292,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,22}</string>
                <key>spriteSize</key>
                <string>{284,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{719,241},{284,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{262,202}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1401,405},{262,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_appear_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-48}</string>
                <key>spriteSize</key>
                <string>{240,226}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1015,409},{240,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-47}</string>
                <key>spriteSize</key>
                <string>{220,232}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{273,911},{220,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-71}</string>
                <key>spriteSize</key>
                <string>{214,194}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{495,911},{214,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_appear_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-62}</string>
                <key>spriteSize</key>
                <string>{260,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{649,641},{260,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-57}</string>
                <key>spriteSize</key>
                <string>{318,222}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1357,1},{318,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-59}</string>
                <key>spriteSize</key>
                <string>{324,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1031,1},{324,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_appear_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-45}</string>
                <key>spriteSize</key>
                <string>{328,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1677,1},{328,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-67}</string>
                <key>spriteSize</key>
                <string>{138,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1247,655},{138,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-47}</string>
                <key>spriteSize</key>
                <string>{264,242}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{475,283},{264,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{238,312}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{717,1},{238,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_down_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{202,328}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{271,283},{202,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_down_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,20}</string>
                <key>spriteSize</key>
                <string>{200,296}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{271,613},{200,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_down_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,30}</string>
                <key>spriteSize</key>
                <string>{182,264}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{691,835},{182,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_down_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,32}</string>
                <key>spriteSize</key>
                <string>{174,268}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{473,641},{174,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_down_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,37}</string>
                <key>spriteSize</key>
                <string>{148,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{875,839},{148,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-69}</string>
                <key>spriteSize</key>
                <string>{156,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1705,209},{156,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-71}</string>
                <key>spriteSize</key>
                <string>{128,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1355,853},{128,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_hurt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-65}</string>
                <key>spriteSize</key>
                <string>{106,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1597,225},{106,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_hurt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-68}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1903,527},{112,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_hurt_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-71}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1563,677},{150,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_hurt_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-69}</string>
                <key>spriteSize</key>
                <string>{156,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1705,209},{156,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-69}</string>
                <key>spriteSize</key>
                <string>{156,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1739,371},{156,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-69}</string>
                <key>spriteSize</key>
                <string>{164,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1025,843},{164,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-70}</string>
                <key>spriteSize</key>
                <string>{174,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1387,669},{174,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-75}</string>
                <key>spriteSize</key>
                <string>{130,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1295,1013},{130,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-76}</string>
                <key>spriteSize</key>
                <string>{112,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1025,1003},{112,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-75}</string>
                <key>spriteSize</key>
                <string>{116,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1785,829},{116,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-74}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1485,975},{118,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-71}</string>
                <key>spriteSize</key>
                <string>{136,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1139,1013},{136,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_jump_back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-50}</string>
                <key>spriteSize</key>
                <string>{124,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1629,829},{124,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-71}</string>
                <key>spriteSize</key>
                <string>{112,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1903,795},{112,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-72}</string>
                <key>spriteSize</key>
                <string>{116,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1763,979},{116,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-76}</string>
                <key>spriteSize</key>
                <string>{104,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1875,689},{104,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-72}</string>
                <key>spriteSize</key>
                <string>{120,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1897,369},{120,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-70}</string>
                <key>spriteSize</key>
                <string>{132,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1605,393},{132,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-73}</string>
                <key>spriteSize</key>
                <string>{138,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1719,689},{138,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9006_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-76}</string>
                <key>spriteSize</key>
                <string>{124,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1637,955},{124,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9006_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-73}</string>
                <key>spriteSize</key>
                <string>{106,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,336}</string>
                <key>textureRect</key>
                <string>{{1917,953},{106,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>9006.png</string>
            <key>size</key>
            <string>{2024,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01d4b473c5be3897e64e85d3422989dc:7a66c9994ae7d460363e579722273261:45871f067803c73f10769eac385821d2$</string>
            <key>textureFileName</key>
            <string>9006.png</string>
        </dict>
    </dict>
</plist>
