<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-74}</string>
                <key>spriteSize</key>
                <string>{148,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1795,1447},{148,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-65}</string>
                <key>spriteSize</key>
                <string>{160,228}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1765,1131},{160,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{624,632}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{629,1373},{624,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{682,666}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{625,689},{682,666}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-15}</string>
                <key>spriteSize</key>
                <string>{686,644}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1,1},{686,644}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{672,658}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{647,1},{672,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{684,622}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1,689},{684,622}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{626,610}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1,1375},{626,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,23}</string>
                <key>spriteSize</key>
                <string>{576,530}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1263,1373},{576,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-108}</string>
                <key>spriteSize</key>
                <string>{288,122}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1795,1659},{288,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-55}</string>
                <key>spriteSize</key>
                <string>{166,248}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1795,881},{166,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-63}</string>
                <key>spriteSize</key>
                <string>{166,232}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1443,1131},{166,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-61}</string>
                <key>spriteSize</key>
                <string>{168,232}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1795,647},{168,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-63}</string>
                <key>spriteSize</key>
                <string>{152,232}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1611,1131},{152,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-58}</string>
                <key>spriteSize</key>
                <string>{148,238}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1293,1131},{148,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-21}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1795,1293},{152,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,7}</string>
                <key>spriteSize</key>
                <string>{430,442}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1293,675},{430,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{644,658}</string>
                <key>spriteSourceSize</key>
                <string>{700,674}</string>
                <key>textureRect</key>
                <string>{{1307,1},{644,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>areaMagic.png</string>
            <key>size</key>
            <string>{1994,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32b69fb963e5496b5a2da2ef97765253:d45530949e66a38f3fefe7d109af848d:e97c605911e82d80527f0e84e3296ed1$</string>
            <key>textureFileName</key>
            <string>areaMagic.png</string>
        </dict>
    </dict>
</plist>
