<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beam_core_n_sheet_purple_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>beam_core_n_sheet_purple_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>beam_core_n_sheet_purple_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>beam_core_n_sheet_purple_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,512},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>beam_core_n_sheet_purple_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>beam_core_n_sheet_purple_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1024},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>beam_core_n_sheet_purple_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1536},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>beam_core_n_sheet_purple_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1536},{1024,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,512}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beam_core.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:407fee0a3566d4d30534be426cd8a462$</string>
            <key>textureFileName</key>
            <string>beam_core.png</string>
        </dict>
    </dict>
</plist>
