<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3512,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{3512,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{4214,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{3512,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{4214,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{4916,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10042.png</key>
            <dict>
                <key>frame</key>
                <string>{{3512,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10043.png</key>
            <dict>
                <key>frame</key>
                <string>{{4214,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10044.png</key>
            <dict>
                <key>frame</key>
                <string>{{4916,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10045.png</key>
            <dict>
                <key>frame</key>
                <string>{{5618,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2512,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10049.png</key>
            <dict>
                <key>frame</key>
                <string>{{3512,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10050.png</key>
            <dict>
                <key>frame</key>
                <string>{{4214,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10051.png</key>
            <dict>
                <key>frame</key>
                <string>{{4916,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10052.png</key>
            <dict>
                <key>frame</key>
                <string>{{5618,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10053.png</key>
            <dict>
                <key>frame</key>
                <string>{{6320,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10054.png</key>
            <dict>
                <key>frame</key>
                <string>{{7022,2},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10057.png</key>
            <dict>
                <key>frame</key>
                <string>{{3014,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10058.png</key>
            <dict>
                <key>frame</key>
                <string>{{4214,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10059.png</key>
            <dict>
                <key>frame</key>
                <string>{{4916,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10060.png</key>
            <dict>
                <key>frame</key>
                <string>{{5618,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10061.png</key>
            <dict>
                <key>frame</key>
                <string>{{6320,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10062.png</key>
            <dict>
                <key>frame</key>
                <string>{{7022,504},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10063.png</key>
            <dict>
                <key>frame</key>
                <string>{{3512,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10064.png</key>
            <dict>
                <key>frame</key>
                <string>{{3512,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10065.png</key>
            <dict>
                <key>frame</key>
                <string>{{3516,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10066.png</key>
            <dict>
                <key>frame</key>
                <string>{{4018,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10067.png</key>
            <dict>
                <key>frame</key>
                <string>{{4916,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10068.png</key>
            <dict>
                <key>frame</key>
                <string>{{5618,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10069.png</key>
            <dict>
                <key>frame</key>
                <string>{{6320,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10070.png</key>
            <dict>
                <key>frame</key>
                <string>{{7022,1006},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10071.png</key>
            <dict>
                <key>frame</key>
                <string>{{4214,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10072.png</key>
            <dict>
                <key>frame</key>
                <string>{{4214,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10073.png</key>
            <dict>
                <key>frame</key>
                <string>{{4520,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10074.png</key>
            <dict>
                <key>frame</key>
                <string>{{5618,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10075.png</key>
            <dict>
                <key>frame</key>
                <string>{{6320,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10076.png</key>
            <dict>
                <key>frame</key>
                <string>{{7022,1508},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10077.png</key>
            <dict>
                <key>frame</key>
                <string>{{4916,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10078.png</key>
            <dict>
                <key>frame</key>
                <string>{{4916,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10079.png</key>
            <dict>
                <key>frame</key>
                <string>{{5022,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10080.png</key>
            <dict>
                <key>frame</key>
                <string>{{5524,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10081.png</key>
            <dict>
                <key>frame</key>
                <string>{{6320,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10082.png</key>
            <dict>
                <key>frame</key>
                <string>{{7022,2010},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10083.png</key>
            <dict>
                <key>frame</key>
                <string>{{5618,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10084.png</key>
            <dict>
                <key>frame</key>
                <string>{{5618,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10085.png</key>
            <dict>
                <key>frame</key>
                <string>{{6026,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10086.png</key>
            <dict>
                <key>frame</key>
                <string>{{6320,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10087.png</key>
            <dict>
                <key>frame</key>
                <string>{{7022,2512},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10088.png</key>
            <dict>
                <key>frame</key>
                <string>{{6320,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10089.png</key>
            <dict>
                <key>frame</key>
                <string>{{7022,3014},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10090.png</key>
            <dict>
                <key>frame</key>
                <string>{{6528,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10091.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10092.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10093.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10094.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10095.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10096.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10097.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10098.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
            <key>10099.png</key>
            <dict>
                <key>frame</key>
                <string>{{7030,3516},{700,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,500}}</string>
                <key>sourceSize</key>
                <string>{700,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOOM2.png</string>
            <key>size</key>
            <string>{7724,4218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c75383efa9c928fcbcc7505779167620:7116856b7f389f29ae18161a16540d08:246363e4df892460e4ef65c4c50eb993$</string>
            <key>textureFileName</key>
            <string>BOOM2.png</string>
        </dict>
    </dict>
</plist>
