<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alumon_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,409},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,409},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,409},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,409},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,818},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,818},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,818},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1227},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1227},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1227},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1227},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1636},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1636},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1636},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
            <key>alumon_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1636},{512,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,409}}</string>
                <key>sourceSize</key>
                <string>{512,409}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alumon.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa82c93fb6febcac4ced79f32622f3a$</string>
            <key>textureFileName</key>
            <string>alumon.png</string>
        </dict>
    </dict>
</plist>
