<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{171,1533},{130,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{136,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,975},{136,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-8}</string>
                <key>spriteSize</key>
                <string>{142,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1251},{142,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_down_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{164,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{187,537},{164,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_down_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-9}</string>
                <key>spriteSize</key>
                <string>{194,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{203,241},{194,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-44}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,241},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-53}</string>
                <key>spriteSize</key>
                <string>{202,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-53}</string>
                <key>spriteSize</key>
                <string>{202,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{205,1},{202,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-53}</string>
                <key>spriteSize</key>
                <string>{202,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,121},{202,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-53}</string>
                <key>spriteSize</key>
                <string>{202,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{205,121},{202,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{132,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{181,703},{132,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-8}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,675},{146,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_hurt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-9}</string>
                <key>spriteSize</key>
                <string>{150,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,823},{150,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_hurt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{140,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,533},{140,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{134,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{173,1117},{134,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{146,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{179,969},{146,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{148,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{353,875},{148,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{140,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{171,1253},{140,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{169,1665},{140,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{136,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{171,1395},{136,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1537},{142,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{140,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1395},{140,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_victory_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-45}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1715},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_victory_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-18}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{345,1177},{128,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_victory_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{132,186}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{193,403},{132,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_victory_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,17}</string>
                <key>spriteSize</key>
                <string>{152,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,379},{152,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_victory_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-15}</string>
                <key>spriteSize</key>
                <string>{140,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{341,1573},{140,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_victory_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-29}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{367,573},{134,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{136,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1113},{136,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-17}</string>
                <key>spriteSize</key>
                <string>{144,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{361,709},{144,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{126,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{337,1715},{126,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{122,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{381,403},{122,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{130,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{179,837},{130,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-17}</string>
                <key>spriteSize</key>
                <string>{140,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{341,1307},{140,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-16}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{351,1047},{128,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{122,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{341,1449},{122,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1001.png</string>
            <key>size</key>
            <string>{506,1846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6105b48c41d5cda50fa8361d9d2d45ac:323317df3aeecb82360af8f576d20650:90d709d121983a5508ba3f2396d30f68$</string>
            <key>textureFileName</key>
            <string>1001.png</string>
        </dict>
    </dict>
</plist>
