<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100301_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{196,206}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,108},{196,206}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{212,242}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,69},{212,242}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{240,218}}</string>
                <key>offset</key>
                <string>{-34,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,95},{240,218}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{246,206}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,111},{246,206}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,192}}</string>
                <key>offset</key>
                <string>{63,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,135},{360,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{268,234}}</string>
                <key>offset</key>
                <string>{11,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,88},{268,234}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{198,270}}</string>
                <key>offset</key>
                <string>{76,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,49},{198,270}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,196},{130,240}}</string>
                <key>offset</key>
                <string>{32,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,72},{130,240}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1113},{178,218}}</string>
                <key>offset</key>
                <string>{12,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,94},{178,218}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100301_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,200},{212,190}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,122},{212,190}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1269},{212,184}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,130},{212,184}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,194},{216,180}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,133},{216,180}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,655},{224,178}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,136},{224,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,392},{212,190}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,124},{212,190}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,881},{230,172}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,132},{230,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,690},{230,142}}</string>
                <key>offset</key>
                <string>{-5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,174},{230,142}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,574},{224,100}}</string>
                <key>offset</key>
                <string>{-2,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,214},{224,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,584},{224,104}}</string>
                <key>offset</key>
                <string>{-2,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,210},{224,104}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1333},{222,104}}</string>
                <key>offset</key>
                <string>{-1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{222,104}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_down_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1234},{222,104}}</string>
                <key>offset</key>
                <string>{-1,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,209},{222,104}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,388},{215,184}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,115},{215,184}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,676},{217,186}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,114},{217,186}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{219,190}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,111},{219,190}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{217,190}}</string>
                <key>offset</key>
                <string>{-10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,111},{217,190}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,194},{215,192}}</string>
                <key>offset</key>
                <string>{-10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,109},{215,192}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,438},{215,190}}</string>
                <key>offset</key>
                <string>{-6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,110},{215,190}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,864},{213,186}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,110},{213,186}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1052},{215,184}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,115},{215,184}}</string>
                <key>sourceSize</key>
                <string>{481,316}</string>
            </dict>
            <key>1003_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1052},{160,208}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,108},{160,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,624},{152,216}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,104},{152,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,962},{140,228}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,87},{140,228}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,834},{126,236}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,79},{126,236}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1104},{128,218}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,98},{128,218}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,842},{142,208}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,112},{142,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1262},{146,202}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,109},{146,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1003_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,412},{168,210}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,103},{168,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003.png</string>
            <key>size</key>
            <string>{1017,1467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c944374df74390870963dc0cb7f6d83:38a138b74ae88ec14cfe5098eb58e29f:f561e8c9104dea65be52a96ae9b8ec0b$</string>
            <key>textureFileName</key>
            <string>1003.png</string>
        </dict>
    </dict>
</plist>
